In [156]:
#Librerias
import netCDF4 as nc
import pandas as pd
import numpy as np
import xarray as xr

In [157]:
#loading dataset.
file = 'data/sst2.cdf'
ds = xr.open_dataset(file)
df = ds.to_dataframe()

missing_na = df['T_20'][13148]
# filling with NaN all missing values.
df.loc[df.T_20==missing_na] = df.loc[df.T_20==missing_na].replace({missing_na : np.nan})

b1 = df.loc[(df.index.get_level_values('lat')==-2) & (df.index.get_level_values('lon')==250.0)]['T_20']
b1 = b1.reset_index(level=0,drop=True)
b1 = b1.reset_index(level=0,drop=True)
b1 = b1.reset_index(level=0,drop=True)


b2 = df.loc[(df.index.get_level_values('lat')==-2) & (df.index.get_level_values('lon')==265.0)]['T_20']
b2 = b2.reset_index(level=0,drop=True)
b2 = b2.reset_index(level=0,drop=True)
b2 = b2.reset_index(level=0,drop=True)


b3 = df.loc[(df.index.get_level_values('lat')==0) & (df.index.get_level_values('lon')==250.0)]['T_20']
b3 = b3.reset_index(level=0,drop=True)
b3 = b3.reset_index(level=0,drop=True)
b3 = b3.reset_index(level=0,drop=True)


b4 = df.loc[(df.index.get_level_values('lat')==0) & (df.index.get_level_values('lon')==265.0)]['T_20']
b4 = b4.reset_index(level=0,drop=True)
b4 = b4.reset_index(level=0,drop=True)
b4 = b4.reset_index(level=0,drop=True)

b5 = df.loc[(df.index.get_level_values('lat')==2) & (df.index.get_level_values('lon')==250.0)]['T_20']
b5 = b5.reset_index(level=0,drop=True)
b5 = b5.reset_index(level=0,drop=True)
b5 = b5.reset_index(level=0,drop=True)


b6 = df.loc[(df.index.get_level_values('lat')==2) & (df.index.get_level_values('lon')==265.0)]['T_20']
b6 = b6.reset_index(level=0,drop=True)
b6 = b6.reset_index(level=0,drop=True)
b6 = b6.reset_index(level=0,drop=True)

df1 = pd.DataFrame({'2S110W': b1, '2S095W': b2 , '0N110W': b3, '0N095W': b4 , '2N110W': b5, '2N095W': b6})
df1

,2S110W,2S095W,0N110W,0N095W,2N110W,2N095W
time,,,,,,
2010-01-01 12:00:00,25.490000,25.230000,26.110001,25.860001,NaN,26.799999
2010-01-02 12:00:00,25.480000,25.290001,25.920000,25.410000,NaN,26.820000
2010-01-03 12:00:00,25.520000,25.250000,25.629999,24.750000,NaN,26.850000
2010-01-04 12:00:00,25.580000,25.139999,25.600000,24.540001,NaN,26.870001
2010-01-05 12:00:00,25.580000,25.080000,25.600000,24.670000,NaN,26.860001
2010-01-06 12:00:00,25.540001,25.090000,25.540001,24.969999,NaN,26.840000
2010-01-07 12:00:00,25.490000,25.110001,25.410000,25.230000,NaN,26.889999
2010-01-08 12:00:00,25.540001,25.139999,25.350000,25.549999,NaN,27.180000
2010-01-09 12:00:00,25.530001,25.110001,25.660000,26.030001,NaN,27.370001
2010-01-10 12:00:00,25.530001,25.120001,26.260000,26.129999,NaN,27.330000
2010-01-11 12:00:00,25.530001,25.090000,26.059999,26.139999,NaN,27.090000
2010-01-12 12:00:00,25.520000,25.070000,25.959999,26.100000,NaN,27.350000
2010-01-13 12:00:00,25.559999,25.150000,26.209999,26.209999,NaN,27.350000
2010-01-14 12:00:00,25.600000,25.070000,26.260000,26.540001,NaN,27.270000
2010-01-15 12:00:00,25.639999,25.040001,25.910000,25.809999,NaN,27.040001
2010-01-16 12:00:00,25.690001,25.110001,25.360001,25.139999,NaN,27.129999
2010-01-17 12:00:00,25.650000,25.219999,25.000000,24.920000,NaN,27.139999
2010-01-18 12:00:00,25.620001,25.190001,25.250000,24.730000,NaN,26.879999
2010-01-19 12:00:00,25.629999,25.190001,25.360001,24.490000,NaN,26.590000
2010-01-20 12:00:00,25.660000,25.219999,25.459999,24.670000,NaN,26.389999
2010-01-21 12:00:00,25.709999,25.270000,25.639999,24.740000,NaN,26.059999
2010-01-22 12:00:00,25.830000,25.400000,25.590000,24.840000,NaN,25.660000
2010-01-23 12:00:00,25.980000,25.379999,25.480000,24.820000,NaN,25.320000
2010-01-24 12:00:00,26.160000,25.370001,25.549999,24.920000,NaN,26.090000
2010-01-25 12:00:00,26.260000,25.379999,25.580000,25.129999,NaN,26.490000
2010-01-26 12:00:00,26.340000,25.490000,25.650000,25.639999,NaN,26.969999
2010-01-27 12:00:00,26.240000,25.309999,25.629999,25.930000,NaN,27.219999
2010-01-28 12:00:00,26.209999,25.250000,25.879999,26.219999,NaN,26.959999
2010-01-29 12:00:00,26.260000,25.260000,25.820000,26.490000,NaN,27.080000
2010-01-30 12:00:00,26.270000,25.110001,25.870001,26.629999,NaN,27.320000
...,...,...,...,...,...,...
2018-12-02 12:00:00,24.578562,NaN,25.021496,NaN,NaN,26.400713
2018-12-03 12:00:00,24.612837,NaN,24.962358,NaN,NaN,26.364956
2018-12-04 12:00:00,24.627066,NaN,24.880732,NaN,NaN,26.399372
2018-12-05 12:00:00,NaN,NaN,24.666096,NaN,NaN,26.447248
2018-12-06 12:00:00,NaN,NaN,24.306143,NaN,NaN,26.476294
2018-12-07 12:00:00,NaN,NaN,24.141638,NaN,NaN,26.483660
2018-12-08 12:00:00,NaN,NaN,24.223259,NaN,NaN,26.460537
2018-12-09 12:00:00,24.683249,NaN,24.243107,NaN,NaN,26.445463
2018-12-10 12:00:00,24.699619,NaN,24.864563,NaN,NaN,26.240694
2018-12-11 12:00:00,24.640509,NaN,24.859793,NaN,NaN,26.162245
2018-12-12 12:00:00,24.682686,NaN,24.756908,NaN,NaN,26.172148
2018-12-13 12:00:00,NaN,NaN,24.763912,NaN,NaN,26.295429
2018-12-14 12:00:00,24.852449,NaN,24.733707,NaN,NaN,26.400330
2018-12-15 12:00:00,24.747936,NaN,24.716940,NaN,NaN,26.482277
2018-12-16 12:00:00,24.709833,NaN,25.057198,NaN,NaN,26.469513
2018-12-17 12:00:00,24.607073,NaN,25.812431,NaN,NaN,26.544443
2018-12-18 12:00:00,24.607805,NaN,25.802099,NaN,NaN,26.608093
2018-12-19 12:00:00,24.653708,NaN,25.535791,NaN,NaN,26.563362
2018-12-20 12:00:00,24.669991,NaN,25.269962,NaN,NaN,26.372398
2018-12-21 12:00:00,24.738546,NaN,24.923225,NaN,NaN,26.242561
2018-12-22 12:00:00,24.950037,NaN,24.460213,NaN,NaN,26.509996
2018-12-23 12:00:00,25.016058,NaN,24.298508,NaN,NaN,26.646332
2018-12-24 12:00:00,25.093037,NaN,24.354179,NaN,NaN,26.472818
2018-12-25 12:00:00,25.065903,NaN,24.399296,NaN,NaN,26.469463
2018-12-26 12:00:00,NaN,NaN,24.612650,NaN,NaN,26.383778
2018-12-27 12:00:00,25.250563,NaN,24.793777,NaN,NaN,26.427691
2018-12-28 12:00:00,25.243855,NaN,24.635138,NaN,NaN,26.587914
2018-12-29 12:00:00,25.181681,NaN,24.656002,NaN,NaN,26.692562
2018-12-30 12:00:00,25.119087,NaN,24.538710,NaN,NaN,26.850328
2018-12-31 12:00:00,24.986158,NaN,24.672611,NaN,NaN,27.145998

In [158]:
new_features = ['2S110W', '2S095W', '0N110W', '0N095W', '2N110W', '2N095W']

# Checking detected null temperatures
for temp_feature in new_features:
    print("Null temperatures in {}: {}".format(temp_feature, df1[temp_feature].isna().sum()))

Null temperatures in 2S110W: 919
Null temperatures in 2S095W: 855
Null temperatures in 0N110W: 968
Null temperatures in 0N095W: 1415
Null temperatures in 2N110W: 1118
Null temperatures in 2N095W: 1834

In [159]:
# Adding day and month auxiliary features

period = pd.date_range('20100101 12:00:00','20181231 12:00:00', freq='D')
df1['month'] = period.month
df1['day'] = period.day
df1

,2S110W,2S095W,0N110W,0N095W,2N110W,2N095W,month,day
time,,,,,,,,
2010-01-01 12:00:00,25.490000,25.230000,26.110001,25.860001,NaN,26.799999,1,1
2010-01-02 12:00:00,25.480000,25.290001,25.920000,25.410000,NaN,26.820000,1,2
2010-01-03 12:00:00,25.520000,25.250000,25.629999,24.750000,NaN,26.850000,1,3
2010-01-04 12:00:00,25.580000,25.139999,25.600000,24.540001,NaN,26.870001,1,4
2010-01-05 12:00:00,25.580000,25.080000,25.600000,24.670000,NaN,26.860001,1,5
2010-01-06 12:00:00,25.540001,25.090000,25.540001,24.969999,NaN,26.840000,1,6
2010-01-07 12:00:00,25.490000,25.110001,25.410000,25.230000,NaN,26.889999,1,7
2010-01-08 12:00:00,25.540001,25.139999,25.350000,25.549999,NaN,27.180000,1,8
2010-01-09 12:00:00,25.530001,25.110001,25.660000,26.030001,NaN,27.370001,1,9
2010-01-10 12:00:00,25.530001,25.120001,26.260000,26.129999,NaN,27.330000,1,10
2010-01-11 12:00:00,25.530001,25.090000,26.059999,26.139999,NaN,27.090000,1,11
2010-01-12 12:00:00,25.520000,25.070000,25.959999,26.100000,NaN,27.350000,1,12
2010-01-13 12:00:00,25.559999,25.150000,26.209999,26.209999,NaN,27.350000,1,13
2010-01-14 12:00:00,25.600000,25.070000,26.260000,26.540001,NaN,27.270000,1,14
2010-01-15 12:00:00,25.639999,25.040001,25.910000,25.809999,NaN,27.040001,1,15
2010-01-16 12:00:00,25.690001,25.110001,25.360001,25.139999,NaN,27.129999,1,16
2010-01-17 12:00:00,25.650000,25.219999,25.000000,24.920000,NaN,27.139999,1,17
2010-01-18 12:00:00,25.620001,25.190001,25.250000,24.730000,NaN,26.879999,1,18
2010-01-19 12:00:00,25.629999,25.190001,25.360001,24.490000,NaN,26.590000,1,19
2010-01-20 12:00:00,25.660000,25.219999,25.459999,24.670000,NaN,26.389999,1,20
2010-01-21 12:00:00,25.709999,25.270000,25.639999,24.740000,NaN,26.059999,1,21
2010-01-22 12:00:00,25.830000,25.400000,25.590000,24.840000,NaN,25.660000,1,22
2010-01-23 12:00:00,25.980000,25.379999,25.480000,24.820000,NaN,25.320000,1,23
2010-01-24 12:00:00,26.160000,25.370001,25.549999,24.920000,NaN,26.090000,1,24
2010-01-25 12:00:00,26.260000,25.379999,25.580000,25.129999,NaN,26.490000,1,25
2010-01-26 12:00:00,26.340000,25.490000,25.650000,25.639999,NaN,26.969999,1,26
2010-01-27 12:00:00,26.240000,25.309999,25.629999,25.930000,NaN,27.219999,1,27
2010-01-28 12:00:00,26.209999,25.250000,25.879999,26.219999,NaN,26.959999,1,28
2010-01-29 12:00:00,26.260000,25.260000,25.820000,26.490000,NaN,27.080000,1,29
2010-01-30 12:00:00,26.270000,25.110001,25.870001,26.629999,NaN,27.320000,1,30
...,...,...,...,...,...,...,...,...
2018-12-02 12:00:00,24.578562,NaN,25.021496,NaN,NaN,26.400713,12,2
2018-12-03 12:00:00,24.612837,NaN,24.962358,NaN,NaN,26.364956,12,3
2018-12-04 12:00:00,24.627066,NaN,24.880732,NaN,NaN,26.399372,12,4
2018-12-05 12:00:00,NaN,NaN,24.666096,NaN,NaN,26.447248,12,5
2018-12-06 12:00:00,NaN,NaN,24.306143,NaN,NaN,26.476294,12,6
2018-12-07 12:00:00,NaN,NaN,24.141638,NaN,NaN,26.483660,12,7
2018-12-08 12:00:00,NaN,NaN,24.223259,NaN,NaN,26.460537,12,8
2018-12-09 12:00:00,24.683249,NaN,24.243107,NaN,NaN,26.445463,12,9
2018-12-10 12:00:00,24.699619,NaN,24.864563,NaN,NaN,26.240694,12,10
2018-12-11 12:00:00,24.640509,NaN,24.859793,NaN,NaN,26.162245,12,11
2018-12-12 12:00:00,24.682686,NaN,24.756908,NaN,NaN,26.172148,12,12
2018-12-13 12:00:00,NaN,NaN,24.763912,NaN,NaN,26.295429,12,13
2018-12-14 12:00:00,24.852449,NaN,24.733707,NaN,NaN,26.400330,12,14
2018-12-15 12:00:00,24.747936,NaN,24.716940,NaN,NaN,26.482277,12,15
2018-12-16 12:00:00,24.709833,NaN,25.057198,NaN,NaN,26.469513,12,16
2018-12-17 12:00:00,24.607073,NaN,25.812431,NaN,NaN,26.544443,12,17
2018-12-18 12:00:00,24.607805,NaN,25.802099,NaN,NaN,26.608093,12,18
2018-12-19 12:00:00,24.653708,NaN,25.535791,NaN,NaN,26.563362,12,19
2018-12-20 12:00:00,24.669991,NaN,25.269962,NaN,NaN,26.372398,12,20
2018-12-21 12:00:00,24.738546,NaN,24.923225,NaN,NaN,26.242561,12,21
2018-12-22 12:00:00,24.950037,NaN,24.460213,NaN,NaN,26.509996,12,22
2018-12-23 12:00:00,25.016058,NaN,24.298508,NaN,NaN,26.646332,12,23
2018-12-24 12:00:00,25.093037,NaN,24.354179,NaN,NaN,26.472818,12,24
2018-12-25 12:00:00,25.065903,NaN,24.399296,NaN,NaN,26.469463,12,25
2018-12-26 12:00:00,NaN,NaN,24.612650,NaN,NaN,26.383778,12,26
2018-12-27 12:00:00,25.250563,NaN,24.793777,NaN,NaN,26.427691,12,27
2018-12-28 12:00:00,25.243855,NaN,24.635138,NaN,NaN,26.587914,12,28
2018-12-29 12:00:00,25.181681,NaN,24.656002,NaN,NaN,26.692562,12,29
2018-12-30 12:00:00,25.119087,NaN,24.538710,NaN,NaN,26.850328,12,30
2018-12-31 12:00:00,24.986158,NaN,24.672611,NaN,NaN,27.145998,12,31

In [160]:
# Creating an indexing method
def get_data_by_date(dataframe, month, day):
    same_date_data = dataframe[(dataframe.index.month == month) & (dataframe.index.day == day)]
    return same_date_data

df2 = get_data_by_date(df1, 1, 3)
print(df2['2N110W'].sum()/6)
print(df2['2N110W'].mean())
df2

24.409317016601562
24.409317016601562

,2S110W,2S095W,0N110W,0N095W,2N110W,2N095W,month,day
time,,,,,,,,
2010-01-03 12:00:00,25.520000,25.250000,25.629999,24.750000,NaN,26.850000,1,3
2011-01-03 12:00:00,22.700001,22.780001,NaN,22.190001,25.150000,NaN,1,3
2012-01-03 12:00:00,NaN,22.980000,23.020000,24.440001,23.780001,25.780001,1,3
2013-01-03 12:00:00,NaN,NaN,NaN,NaN,24.129999,NaN,1,3
2014-01-03 12:00:00,NaN,23.200001,23.590000,NaN,25.463856,NaN,1,3
2015-01-03 12:00:00,NaN,24.128948,24.967567,NaN,25.830313,26.016737,1,3
2016-01-03 12:00:00,27.117937,NaN,NaN,NaN,NaN,NaN,1,3
2017-01-03 12:00:00,23.381256,NaN,22.747650,22.525606,NaN,NaN,1,3
2018-01-03 12:00:00,21.160917,21.714407,21.399014,21.203608,22.101746,NaN,1,3

In [162]:
# --- MAIN REPLACEMENT PROCESS ---

for temp_feature in new_features: # For each temperature column
    nan_indices = list( df1[temp_feature].isna() ) # Getting data where buoy temp. is nan
    df1.loc[nan_indices,temp_feature] = df1[nan_indices].apply( # And in those places
        lambda d: get_data_by_date(df1, d.month, d.day)[temp_feature].mean(), # Use method to get same day and month temperatures for buoy 'temp_feature', and get the mean
        axis=1) # And do this across rows

df1

,2S110W,2S095W,0N110W,0N095W,2N110W,2N095W,month,day
time,,,,,,,,
2010-01-01 12:00:00,25.490000,25.230000,26.110001,25.860001,24.092659,26.799999,1,1
2010-01-02 12:00:00,25.480000,25.290001,25.920000,25.410000,24.306376,26.820000,1,2
2010-01-03 12:00:00,25.520000,25.250000,25.629999,24.750000,24.409317,26.850000,1,3
2010-01-04 12:00:00,25.580000,25.139999,25.600000,24.540001,24.297920,26.870001,1,4
2010-01-05 12:00:00,25.580000,25.080000,25.600000,24.670000,24.640051,26.860001,1,5
2010-01-06 12:00:00,25.540001,25.090000,25.540001,24.969999,25.330885,26.840000,1,6
2010-01-07 12:00:00,25.490000,25.110001,25.410000,25.230000,25.336924,26.889999,1,7
2010-01-08 12:00:00,25.540001,25.139999,25.350000,25.549999,25.184448,27.180000,1,8
2010-01-09 12:00:00,25.530001,25.110001,25.660000,26.030001,25.230318,27.370001,1,9
2010-01-10 12:00:00,25.530001,25.120001,26.260000,26.129999,25.095606,27.330000,1,10
2010-01-11 12:00:00,25.530001,25.090000,26.059999,26.139999,25.191359,27.090000,1,11
2010-01-12 12:00:00,25.520000,25.070000,25.959999,26.100000,25.142641,27.350000,1,12
2010-01-13 12:00:00,25.559999,25.150000,26.209999,26.209999,25.209925,27.350000,1,13
2010-01-14 12:00:00,25.600000,25.070000,26.260000,26.540001,25.280022,27.270000,1,14
2010-01-15 12:00:00,25.639999,25.040001,25.910000,25.809999,25.412046,27.040001,1,15
2010-01-16 12:00:00,25.690001,25.110001,25.360001,25.139999,25.529772,27.129999,1,16
2010-01-17 12:00:00,25.650000,25.219999,25.000000,24.920000,25.630625,27.139999,1,17
2010-01-18 12:00:00,25.620001,25.190001,25.250000,24.730000,25.720461,26.879999,1,18
2010-01-19 12:00:00,25.629999,25.190001,25.360001,24.490000,25.692909,26.590000,1,19
2010-01-20 12:00:00,25.660000,25.219999,25.459999,24.670000,25.637705,26.389999,1,20
2010-01-21 12:00:00,25.709999,25.270000,25.639999,24.740000,25.767174,26.059999,1,21
2010-01-22 12:00:00,25.830000,25.400000,25.590000,24.840000,25.873648,25.660000,1,22
2010-01-23 12:00:00,25.980000,25.379999,25.480000,24.820000,25.754648,25.320000,1,23
2010-01-24 12:00:00,26.160000,25.370001,25.549999,24.920000,25.632683,26.090000,1,24
2010-01-25 12:00:00,26.260000,25.379999,25.580000,25.129999,25.447668,26.490000,1,25
2010-01-26 12:00:00,26.340000,25.490000,25.650000,25.639999,25.418756,26.969999,1,26
2010-01-27 12:00:00,26.240000,25.309999,25.629999,25.930000,25.351664,27.219999,1,27
2010-01-28 12:00:00,26.209999,25.250000,25.879999,26.219999,25.460390,26.959999,1,28
2010-01-29 12:00:00,26.260000,25.260000,25.820000,26.490000,25.269281,27.080000,1,29
2010-01-30 12:00:00,26.270000,25.110001,25.870001,26.629999,25.405493,27.320000,1,30
...,...,...,...,...,...,...,...,...
2018-12-02 12:00:00,24.578562,21.345556,25.021496,21.759888,24.366478,26.400713,12,2
2018-12-03 12:00:00,24.612837,21.471460,24.962358,21.691929,24.364748,26.364956,12,3
2018-12-04 12:00:00,24.627066,21.514868,24.880732,21.458685,24.437155,26.399372,12,4
2018-12-05 12:00:00,23.461462,21.567654,24.666096,20.654366,24.386332,26.447248,12,5
2018-12-06 12:00:00,23.516516,21.632513,24.306143,20.804615,24.114010,26.476294,12,6
2018-12-07 12:00:00,23.508810,21.557104,24.141638,20.844501,24.018982,26.483660,12,7
2018-12-08 12:00:00,23.628952,21.455814,24.223259,20.389137,24.244579,26.460537,12,8
2018-12-09 12:00:00,24.683249,21.586828,24.243107,20.353649,24.459713,26.445463,12,9
2018-12-10 12:00:00,24.699619,21.720407,24.864563,20.412497,24.886354,26.240694,12,10
2018-12-11 12:00:00,24.640509,21.665977,24.859793,20.535215,24.877153,26.162245,12,11
2018-12-12 12:00:00,24.682686,21.806322,24.756908,20.949312,24.917971,26.172148,12,12
2018-12-13 12:00:00,23.506655,21.944042,24.763912,20.543400,25.053955,26.295429,12,13
2018-12-14 12:00:00,24.852449,21.949362,24.733707,20.539053,25.174080,26.400330,12,14
2018-12-15 12:00:00,24.747936,22.027752,24.716940,20.568823,25.268900,26.482277,12,15
2018-12-16 12:00:00,24.709833,22.206694,25.057198,20.475986,25.358576,26.469513,12,16
2018-12-17 12:00:00,24.607073,22.292616,25.812431,20.095684,25.304520,26.544443,12,17
2018-12-18 12:00:00,24.607805,22.297153,25.802099,20.286791,25.314680,26.608093,12,18
2018-12-19 12:00:00,24.653708,22.316113,25.535791,20.942633,25.250893,26.563362,12,19
2018-12-20 12:00:00,24.669991,22.352806,25.269962,21.542763,25.061804,26.372398,12,20
2018-12-21 12:00:00,24.738546,22.349295,24.923225,21.314188,25.721792,26.242561,12,21
2018-12-22 12:00:00,24.950037,22.331606,24.460213,21.987539,25.001608,26.509996,12,22
2018-12-23 12:00:00,25.016058,22.401957,24.298508,22.330963,24.936556,26.646332,12,23
2018-12-24 12:00:00,25.093037,22.412418,24.354179,22.408472,24.782927,26.472818,12,24
2018-12-25 12:00:00,25.065903,22.443359,24.399296,22.329990,24.415819,26.469463,12,25
2018-12-26 12:00:00,23.825468,22.491220,24.612650,22.290186,24.276016,26.383778,12,26
2018-12-27 12:00:00,25.250563,22.502131,24.793777,22.384363,24.243368,26.427691,12,27
2018-12-28 12:00:00,25.243855,22.610760,24.635138,22.258600,24.087717,26.587914,12,28
2018-12-29 12:00:00,25.181681,22.623905,24.656002,22.288055,24.143385,26.692562,12,29
2018-12-30 12:00:00,25.119087,22.653147,24.538710,22.576248,24.150881,26.850328,12,30
2018-12-31 12:00:00,24.986158,22.753958,24.672611,22.814686,24.104904,27.145998,12,31

In [163]:
df2 = df1.drop(['day', 'month'], axis=1)

In [164]:
# Double-checking results
get_data_by_date(df2, 1, 3)

,2S110W,2S095W,0N110W,0N095W,2N110W,2N095W
time,,,,,,
2010-01-03 12:00:00,25.520000,25.250000,25.629999,24.750000,24.409317,26.850000
2011-01-03 12:00:00,22.700001,22.780001,23.559038,22.190001,25.150000,26.215578
2012-01-03 12:00:00,23.976023,22.980000,23.020000,24.440001,23.780001,25.780001
2013-01-03 12:00:00,23.976023,23.342224,23.559038,23.021843,24.129999,26.215578
2014-01-03 12:00:00,23.976023,23.200001,23.590000,23.021843,25.463856,26.215578
2015-01-03 12:00:00,23.976023,24.128948,24.967567,23.021843,25.830313,26.016737
2016-01-03 12:00:00,27.117937,23.342224,23.559038,23.021843,24.409317,26.215578
2017-01-03 12:00:00,23.381256,23.342224,22.747650,22.525606,24.409317,26.215578
2018-01-03 12:00:00,21.160917,21.714407,21.399014,21.203608,22.101746,26.215578

In [165]:
df2.describe()

,2S110W,2S095W,0N110W,0N095W,2N110W,2N095W
count,3287.000000,3287.000000,3287.000000,3287.000000,3287.000000,3287.000000
mean,24.884998,23.485756,24.135508,23.709116,25.927738,26.625486
std,2.051527,2.644032,2.056880,2.621564,1.595629,1.197219
min,20.010000,18.000000,18.590000,17.120001,20.321920,21.980000
25%,23.182114,21.118909,22.501917,21.651424,24.886354,25.812441
50%,24.950037,23.180000,24.220154,23.535379,25.797974,26.329653
75%,26.575247,25.849591,25.745918,25.864086,27.104156,27.497637
max,29.849680,30.066856,28.639999,30.189964,29.360001,30.578865

In [167]:
# Serializing dataframe
import pickle

saving_path = 'data/serial_clean_sst1.df' # Relative path in my pc

pickle.dump(df2, open(saving_path, 'wb'))

In [168]:
# Loading the data to confirm

loaded_df2 = pickle.load(open(saving_path, 'rb'))

loaded_df2

,2S110W,2S095W,0N110W,0N095W,2N110W,2N095W
time,,,,,,
2010-01-01 12:00:00,25.490000,25.230000,26.110001,25.860001,24.092659,26.799999
2010-01-02 12:00:00,25.480000,25.290001,25.920000,25.410000,24.306376,26.820000
2010-01-03 12:00:00,25.520000,25.250000,25.629999,24.750000,24.409317,26.850000
2010-01-04 12:00:00,25.580000,25.139999,25.600000,24.540001,24.297920,26.870001
2010-01-05 12:00:00,25.580000,25.080000,25.600000,24.670000,24.640051,26.860001
2010-01-06 12:00:00,25.540001,25.090000,25.540001,24.969999,25.330885,26.840000
2010-01-07 12:00:00,25.490000,25.110001,25.410000,25.230000,25.336924,26.889999
2010-01-08 12:00:00,25.540001,25.139999,25.350000,25.549999,25.184448,27.180000
2010-01-09 12:00:00,25.530001,25.110001,25.660000,26.030001,25.230318,27.370001
2010-01-10 12:00:00,25.530001,25.120001,26.260000,26.129999,25.095606,27.330000
2010-01-11 12:00:00,25.530001,25.090000,26.059999,26.139999,25.191359,27.090000
2010-01-12 12:00:00,25.520000,25.070000,25.959999,26.100000,25.142641,27.350000
2010-01-13 12:00:00,25.559999,25.150000,26.209999,26.209999,25.209925,27.350000
2010-01-14 12:00:00,25.600000,25.070000,26.260000,26.540001,25.280022,27.270000
2010-01-15 12:00:00,25.639999,25.040001,25.910000,25.809999,25.412046,27.040001
2010-01-16 12:00:00,25.690001,25.110001,25.360001,25.139999,25.529772,27.129999
2010-01-17 12:00:00,25.650000,25.219999,25.000000,24.920000,25.630625,27.139999
2010-01-18 12:00:00,25.620001,25.190001,25.250000,24.730000,25.720461,26.879999
2010-01-19 12:00:00,25.629999,25.190001,25.360001,24.490000,25.692909,26.590000
2010-01-20 12:00:00,25.660000,25.219999,25.459999,24.670000,25.637705,26.389999
2010-01-21 12:00:00,25.709999,25.270000,25.639999,24.740000,25.767174,26.059999
2010-01-22 12:00:00,25.830000,25.400000,25.590000,24.840000,25.873648,25.660000
2010-01-23 12:00:00,25.980000,25.379999,25.480000,24.820000,25.754648,25.320000
2010-01-24 12:00:00,26.160000,25.370001,25.549999,24.920000,25.632683,26.090000
2010-01-25 12:00:00,26.260000,25.379999,25.580000,25.129999,25.447668,26.490000
2010-01-26 12:00:00,26.340000,25.490000,25.650000,25.639999,25.418756,26.969999
2010-01-27 12:00:00,26.240000,25.309999,25.629999,25.930000,25.351664,27.219999
2010-01-28 12:00:00,26.209999,25.250000,25.879999,26.219999,25.460390,26.959999
2010-01-29 12:00:00,26.260000,25.260000,25.820000,26.490000,25.269281,27.080000
2010-01-30 12:00:00,26.270000,25.110001,25.870001,26.629999,25.405493,27.320000
...,...,...,...,...,...,...
2018-12-02 12:00:00,24.578562,21.345556,25.021496,21.759888,24.366478,26.400713
2018-12-03 12:00:00,24.612837,21.471460,24.962358,21.691929,24.364748,26.364956
2018-12-04 12:00:00,24.627066,21.514868,24.880732,21.458685,24.437155,26.399372
2018-12-05 12:00:00,23.461462,21.567654,24.666096,20.654366,24.386332,26.447248
2018-12-06 12:00:00,23.516516,21.632513,24.306143,20.804615,24.114010,26.476294
2018-12-07 12:00:00,23.508810,21.557104,24.141638,20.844501,24.018982,26.483660
2018-12-08 12:00:00,23.628952,21.455814,24.223259,20.389137,24.244579,26.460537
2018-12-09 12:00:00,24.683249,21.586828,24.243107,20.353649,24.459713,26.445463
2018-12-10 12:00:00,24.699619,21.720407,24.864563,20.412497,24.886354,26.240694
2018-12-11 12:00:00,24.640509,21.665977,24.859793,20.535215,24.877153,26.162245
2018-12-12 12:00:00,24.682686,21.806322,24.756908,20.949312,24.917971,26.172148
2018-12-13 12:00:00,23.506655,21.944042,24.763912,20.543400,25.053955,26.295429
2018-12-14 12:00:00,24.852449,21.949362,24.733707,20.539053,25.174080,26.400330
2018-12-15 12:00:00,24.747936,22.027752,24.716940,20.568823,25.268900,26.482277
2018-12-16 12:00:00,24.709833,22.206694,25.057198,20.475986,25.358576,26.469513
2018-12-17 12:00:00,24.607073,22.292616,25.812431,20.095684,25.304520,26.544443
2018-12-18 12:00:00,24.607805,22.297153,25.802099,20.286791,25.314680,26.608093
2018-12-19 12:00:00,24.653708,22.316113,25.535791,20.942633,25.250893,26.563362
2018-12-20 12:00:00,24.669991,22.352806,25.269962,21.542763,25.061804,26.372398
2018-12-21 12:00:00,24.738546,22.349295,24.923225,21.314188,25.721792,26.242561
2018-12-22 12:00:00,24.950037,22.331606,24.460213,21.987539,25.001608,26.509996
2018-12-23 12:00:00,25.016058,22.401957,24.298508,22.330963,24.936556,26.646332
2018-12-24 12:00:00,25.093037,22.412418,24.354179,22.408472,24.782927,26.472818
2018-12-25 12:00:00,25.065903,22.443359,24.399296,22.329990,24.415819,26.469463
2018-12-26 12:00:00,23.825468,22.491220,24.612650,22.290186,24.276016,26.383778
2018-12-27 12:00:00,25.250563,22.502131,24.793777,22.384363,24.243368,26.427691
2018-12-28 12:00:00,25.243855,22.610760,24.635138,22.258600,24.087717,26.587914
2018-12-29 12:00:00,25.181681,22.623905,24.656002,22.288055,24.143385,26.692562
2018-12-30 12:00:00,25.119087,22.653147,24.538710,22.576248,24.150881,26.850328
2018-12-31 12:00:00,24.986158,22.753958,24.672611,22.814686,24.104904,27.145998